<style>
.title--5 {
  margin: 0;
  font-family: 'DIN Next Pro Condensed','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 20px;
  line-height: .8;
}
  .margin-bottom--lvl4{
    margin-bottom: 20px;
  }
  body .link {
    display: inline-block;
    color: #ff8f1c;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 14px;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    transition: color .3s ease;
}
</style>
<div class="page-width" >
  <div class="section-header text-center" style="margin-bottom: 25px;">
      <h3 class="title--5"style="
    margin-top: 50px;
">Tech Specs</h3><span class="glyphicon glyphicon-minus" style="font-size: 25px;" aria-hidden="true" onclick="$('#target1').toggle();updateClass(this);"></span>
    </div>
</div>

<div class=" row--normal flex page-width" id="target1" style="display:block;">
<div class="col-sm-4 col-xs-12">
<div class="row row--normal">
<div class="col-sm-12 col-xs-12">
  <div class="body body--bold body--upper text--border-bottom"><h3>Compatibility</h3></div>
</div>
  
<div class="col-sm-12 col-xs-6">
<div class="margin-top--lvl4 body">Windows 7+</div>
</div>
  
<div class="col-sm-12 col-xs-6">
<div class="margin-top--lvl4 body">MacOS Catalina +</div>
</div>
  
<div class="col-sm-12 col-xs-6">
<div class="margin-top--lvl4 body">iOS 10+</div>
</div>
  
<div class="col-sm-12 col-xs-6">
<div class="margin-top--lvl4 body">Android</div>
<div class="title--2 body--upper"></div>
</div>
</div>
</div>

<div class="col-sm-4 col-xs-12">
<div class="row row--normal">
<div class="col-sm-12 col-xs-12">
  <div class="body body--bold body--upper text--border-bottom margin-top--lvl6"><h3>Connectivity</h3></div>
<div class="title--2 body--upper margin-top--lvl4">Wireless</div>
<div class="body">Micro USB</div>
</div>
</div>
</div>
  <div class="col-sm-4 col-xs-12">
    <div class="body body--bold body--upper text--border-bottom margin-top--lvl6-mb"><h3>Features</h3></div>

<p class="body  ">
<span class="body--bold">Thumbstick Layout</span>: Symmetrical </p>
    <br>
</div> </div>

<!-- section2 -->
<div class="page-width" style="border-top:1px solid black;padding-top:25px;margin-bottom: 20px;">
  <div class="section-header text-center" style="margin-bottom: 0px;">
    <h3 class="title--5">Compare Models</h3>
  
    <span class="glyphicon glyphicon-minus" style="font-size: 25px;" aria-hidden="true" onclick="$('#target2').toggle();updateClass(this);"></span>
    </div>
</div>


  <div class="page-width section_wrapper_compare_model_slider_1" id="target2" style="display:block;">
<div class="carousel carousel--secondary carousel--secondary-compare_model_slider_1 js-carousel--compare_model_slider_1 margin-left--lvl8 margin-right--lvl8">
<ul class="grid grid--uniform grid--view-items"style="margin-bottom: 10px;">
  <li class="grid__item grid__item--collection small--one-half " style="width:45%;">
  <div class="carousel__slide ">
<div class="row row--normal flex padding-bottom--lvl4" style="margin-left:0px;maring-right:0px;">
<div class="padding-bottom--lvl2">
<img data-src="https://cdn.shopify.com/s/files/1/0350/7214/7588/products/SPIK02_540x.jpg?v=1615969063" alt="Silver White" class="lazy loaded" src="https://cdn.shopify.com/s/files/1/0350/7214/7588/products/SPIK02_540x.jpg?v=1615969063" data-was-processed="true">
</div>
<div class="carousel__slide__content content_wrapper_compare_model_slider_1 margin-left--lvl8-dt">
<br>
  <h3 class="body body--bold text--border-bottom">Spike with TriggerStops & Textured Grips</h3>
<div class="body padding-bottom--lvl2">
<span class="body--bold margin-bottom--lvl4"><h4>Starting at $129.99</h4></span>
</div>
<div class="body" style="line-height: 24px;">
<a class="link link--dark" href="https://www.hexgaming.com/products/hexgaming-spike-controller-for-ps4-pc-gamer">Learn more</a>
</div>
  <br>
<div class="comparison-feature body margin-bottom--lvl4 margin-top--lvl4 ">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Green" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg> <span>Two Remap Buttons</span> </div>
<div class="comparison-feature body margin-bottom--lvl4  ">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Green" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg> <span>Comfort Enhanced Grips</span> </div>
<div class="comparison-feature body margin-bottom--lvl4  ">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Green" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg> <span>Trigger Stops</span> </div>
<div class="comparison-feature body margin-bottom--lvl4  ">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Green" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg> <span>Interchangeable Thumbsticks</span> </div>
<div class="comparison-feature body margin-bottom--lvl4  ">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Green" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg> <span>Wireless</span> </div>
<div class="comparison-feature body margin-bottom--lvl4  ">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Green" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg> <span>Vibration Modules</span> </div>
<div class="comparison-feature body margin-bottom--lvl4  ">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Green" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg> <span>On-board Profiles</span> </div>
<div class="comparison-feature body margin-bottom--lvl4  ">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Green" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg> </span><span>Micro USB</span> </div>
<div class="comparison-feature body margin-bottom--lvl4  ">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Green" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg> </span><span>Customization</span> </div>
</div>
</div>
</div>
    </li>
<li class="grid__item grid__item--collection small--one-half " style="width:45%;">
<div class="carousel__slide ">
<div class="row row--normal flex padding-bottom--lvl4" style="margin-left:0px;maring-right:0px;">
<div class="padding-bottom--lvl2">
<img data-src="https://cdn.shopify.com/s/files/1/0350/7214/7588/products/HEA127-_1_540x.jpg?v=1614585365" alt="Origin of Chaos" class="lazy loaded" src="https://cdn.shopify.com/s/files/1/0350/7214/7588/products/HEA127-_1_540x.jpg?v=1614585365" data-was-processed="true">
</div>
<div class="carousel__slide__content content_wrapper_compare_model_slider_1 margin-left--lvl8-dt">
  <br>
<h3 class="body body--bold text--border-bottom">Spike with TriggerStops & Textured Grips </h3>
<div class="body padding-bottom--lvl2">
<span class="body--bold margin-bottom--lvl4"><h4>Starting at $129.99</h4></span>
</div>
<div class="body" style="line-height: 24px;">
<a class="link link--dark" href="https://www.hexgaming.com/collections/ps4-spike-premium-edition">Learn more</a>
</div>
  <br>
<div class="comparison-feature body margin-bottom--lvl4 margin-top--lvl4 ">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Green" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg></span> <span>Two Remap Buttons</span> </div>
<div class="comparison-feature body margin-bottom--lvl4  ">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Green" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg> <span>Comfort Enhanced Grips</span> </div>
<div class="comparison-feature body margin-bottom--lvl4  ">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Green" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg> <span>Trigger Stops</span> </div>
<div class="comparison-feature body margin-bottom--lvl4  ">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Green" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg> </span><span>Interchangeable Thumbsticks</span> </div>
<div class="comparison-feature body margin-bottom--lvl4  ">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Green" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg> <span>Wireless</span> </div>
<div class="comparison-feature body margin-bottom--lvl4  ">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Green" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg> <span>Vibration Modules</span> </div>
<div class="comparison-feature body margin-bottom--lvl4  ">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Green" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg> <span>On-board Profiles</span> </div>
<div class="comparison-feature body margin-bottom--lvl4  ">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Green" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg> <span>Micro USB</span> </div>
<div class="comparison-feature body margin-bottom--lvl4  ">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Green" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg> <span>Customization</span> </div>
</div>
</div>
</div>
</li>
</ul>
</div>
<script>
  function updateClass(a){
    var result = $(a).hasClass('glyphicon-plus')
    
    if(result){
       $(a).addClass('glyphicon-minus')
       $(a).removeClass('glyphicon-plus')
    }else{
             $(a).addClass('glyphicon-plus')
       $(a).removeClass('glyphicon-minus')
    }
  }
  
  
</script>
  </div>